PORT=3000
NODE_ENV=development
ALLOWED_ORIGIN=http://localhost:4200

PLUX_ID_CLIENTE=TU_ID_CLIENTE_AQUI
PLUX_CLAVE_SECRETA=TU_CLAVE_SECRETA_AQUI
PLUX_BASE_URL=https://apipre.pagoplux.com/intv1/

PLUX_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA...\n-----END PUBLIC KEY-----"
